* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

header {
  margin-bottom: 10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  .abc {
    display: flex;
    justify-content: space-around;
  }
  
  li a:hover {
    background-color: #111;
    transition: 1s;
  }

  main {
    width: 40%;
  }

  aside {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    height: 50%;
  }

  .news {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .NewsContent {
    width: 100%;
    height: 100%;
    background-color: burlywood;
  }

  h2 {
    background-color:darksalmon;
  }

  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  .chelby {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
  }

  .chelby > img {
    width: 20%;
    height: 20%;
    transition: 1s;
  }

  .chelby > img:hover {
    width: 25%;
    height: 25%;
  }